fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
alembic
python-jose[cryptography]
bcrypt

pandas
numpy
scikit-learn
joblib
scipy
numpy_financial

# Scraping
requests
beautifulsoup4
firecrawl-py